<section class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a ui-sref="dashboard"> <!-- opção ui-sref da tag <a></a> serve para indicar qual o stato que eu desejo que o link seja direcionado (state reference) -->
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li>

    <li class="treeview">
      <a href>
        <i class="fa fa-edit"></i> <span>Forms</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>

      <ul class="treeview-menu">
        <li>
          <a ui-sref="billingCycle"><i class="fa fa-circle-o text-red"></i>Time Card</a>
        </li>
      </ul>

    </li>

    <li class="treeview" ng-show="{{:: menu.disableShow }}">
      <a href>
        <i class="fa fa-edit"></i> <span>Forms Approval</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a ui-sref="supervisorApproval"><i class="fa fa-circle-o text-red"></i> <span>Approval Time Card</span></a>
        </li>
      </ul>
    </li>

    <li class="treeview" >
      <a href>
        <i class="fa fa-edit"></i> <span>Settings</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>

      <ul class="treeview-menu">
        <li>
          <a ui-sref="dashboard"><i class="fa fa-circle-o text-aqua"></i> <span>User</span></a>
        </li>
        <li>
          <a ui-sref="billingCycle"><i class="fa fa-circle-o text-yellow"></i> <span>Validate Signature</span></a>
        </li>
      </ul>

    </li>

  </ul>
</section>
<section ng-controller="MenuCtrl as menu">
<form>
  <input id="oneEmailChartAreaPie" type="hidden" value="{{:: menu.emailOne }}" />
  <input id="oneCountChartAreaPie" type="hidden" value="{{:: menu.countOne }}" />
  <input id="oneTotalChartAreaPie" type="hidden" value="{{:: menu.totalHoursOne }}" />

  <input id="twoEmailChartAreaPie" type="hidden" value="{{:: menu.emailTwo }}" />
  <input id="twoCountChartAreaPie" type="hidden" value="{{:: menu.countTwo }}" />
  <input id="twoTotalChartAreaPie" type="hidden" value="{{:: menu.totalHoursTwo }}" />

  <input id="threeEmailChartAreaPie" type="hidden" value="{{:: menu.emailThree }}" />
  <input id="threeCountChartAreaPie" type="hidden" value="{{:: menu.countThree }}" />
  <input id="threeTotalChartAreaPie" type="hidden" value="{{:: menu.totalHoursThree }}" />

  <input id="fourEmailChartAreaPie" type="hidden" value="{{:: menu.emailFour }}" />
  <input id="fourCountChartAreaPie" type="hidden" value="{{:: menu.countFour }}" />
  <input id="fourTotalChartAreaPie" type="hidden" value="{{:: menu.totalHoursFour }}" />

</form>
</section>
