html { background-color: #ecf0f5; }
.main-footer {position: fixed; bottom:0px; width:100%;}
#toastr-container {top: 70px;}
.table-actions {width:140px;}


/* --my contribution to project  -- */

.sombra {
	box-shadow: 8px 8px 8px black;
}

.div-borda-arredondada {
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	-moz-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	background: white;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
}

.div-borda-arredondada-transparente-dois {
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	-moz-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	background: rgba(0,0,0, 0.7);
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;

}

.div-borda-arredondada-transparente{
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	-moz-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	background: rgba(224,224,224, 0.5);
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
}

.div-borda-arredondada-gradient {
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */
	-moz-border-radius: 8px 8px 8px 8px; /* -- compatibilidade de browsers -- */

	-webkit-background:-webkit-gradient(linear,56 40, 56 566,from(#ff4169),to(#7c26f8));
	-moz-background:-moz-linear-gradient(top left 305deg,#7c26f8 40px,#ff4169 566px);

	background:gradient(linear,56 40, 56 566,from(#ff4169),to(#7c26f8));
 	background:linear-gradient(top left 305deg,#7c26f8 40px,#ff4169 566px);

 	background:-webkit-gradient(linear,56 40, 56 566,from(#ff4169),to(#7c26f8));
 	background:-moz-linear-gradient(top left 305deg,#7c26f8 40px,#ff4169 566px);

/*#b4ccfe/#000000*/

	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
 	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	opacity:0.75;

}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
