<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Employee</th>
        <th>Department</th>
        <th>From</th>
        <th>To</th>
        <th>Total Hours</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="supervisorApproval in saCtrl.supervisorApprovals">
        <td class="table-actions" >
          <button class="btn btn-primary" ng-click="saCtrl.pdf(supervisorApproval)"  title="Generate Form Time Card in PDF file">
            <i class="fa fa-file-pdf-o"></i></button>
          <button class="btn btn-info" ng-click="saCtrl.SendMail(supervisorApproval)" title="Generate Form Time Card in PDF and send by email">
            <i class="fa fa-envelope-o"></i></button>
          <button class="btn btn-info" ng-click="saCtrl.showTabUpdate(supervisorApproval)">
              <i class="fa fa-print"></i></button>
        </td>
        <!-- ao incluir os dois pontos duas vezes faz o bind uma única vez e
        melhorar a performance. Se chama OneTimeBind -->
        <td>{{:: supervisorApproval.employeeName }}</td>
        <td>{{:: supervisorApproval.codDept }}-{{:: supervisorApproval.departmentName }}</td>
        <td>{{:: supervisorApproval.monthFrom }} / {{:: supervisorApproval.dayFrom }}</td>
        <td>{{:: supervisorApproval.monthTo }} / {{:: supervisorApproval.dayTo }}</td>
        <td>{{:: supervisorApproval.totalHours }}</td>
        <td>{{:: supervisorApproval.status }}</td>
        <td class="table-actions" >
          <button class="btn btn-primary" ng-click="saCtrl.showTabUpdate(supervisorApproval)" title="Approve/Review" ng-disabled="disableSubmit">
              <i class="fa fa-edit" ></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="box-footer clearfix">
    <paginator url="/#!/supervisorApprovals" pages="{{ saCtrl.pages }}"></paginator>
  </div>
</div>
